apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  labels:
    app: fastapi
    monitor: "true"
spec:
  type: LoadBalancer
  selector:
    app: fastapi
  ports:
  - name: http 
    port: 8000
    targetPort: 8000
    nodePort: 30000
